.venv/

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Packaging/build artifacts
build/
dist/
*.egg-info/

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter / notebooks
.ipynb_checkpoints/

# folders
checkpoints/
wandb/
data/
logs/
models/

